{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('read_profile') }}
{% endblock %}

{% block body %}
    {% set currentTab = 'skills' %}

    <section class="main-content">

        <a class="button__edit-profile" href="{{ path("profile_edit", {id: app.user.id}, false) }}">Editer le profil</a>
        <div class="profile-content">
            <div class="info-main">
                <h2>{{ profile.getFirstName() }} {{ profile.getLastName() }}</h2>
                {#            <img src="" alt="">#}
                <ul>
                    <li class="profile-info banner">
                        <strong><small>
                                {{ profile.getIsCollaborator() ? "COLLABORATEUR•ICE" : "CANDIDAT•E" }}
                        </small></strong>
                    </li>
                    <li class="profile-info">
                        <h4>{{ profile.getJobtitle() }}</h4>
                    </li>
                    <li class="profile-info">
                        <span class="profile-field__label">Adresse</span>
                        <span class="profile-field__content address">{{ profile.getAddress() }}</span>
                    </li>
                    <li class="profile-info">
                        <span class="profile-field__label">Code postal</span>
                        <span class="profile-field__content postal-code">{{ profile.getPostalCode() }}</span>
                    </li>
                    <li class="profile-info">
                        <span class="profile-field__label">Ville</span>
                        <span class="profile-field__content city">{{ profile.getCity() }}</span>
                    </li>
                    <li class="profile-info">
                        <span class="profile-field__label">Email</span>
                        <span class="profile-field__content email">{{ profile.getEmail() }}</span>
                    </li>
                    <li class="profile-info">
                        <span class="profile-field__label">Telephone</span>
                        <span class="profile-field__content tel">{{ profile.getTel() }}</span>
                    </li>
                    <li class="profile-info">
                        <span class="profile-field__label">Compétences principales</span>
                        <div class="profile-field__content main-skills">
                            <span class="tag">python</span>
                            <span class="tag">PHP</span>
                            <span class="tag">Symfony</span>
                            <span class="tag">React</span>
                            <span class="tag">Angular</span>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="info-details">
                <nav class="profile_more-info__navbar">
                    <ul>
                        <li class="profile-info__navlink"><a onclick="{% set currentTab = 'skills' %}">Compétences</a></li>
                        <li class="profile-info__navlink">
                            <a onclick="{% set currentTab = 'experiences' %}">
                                Historique des missions
                            </a>
                        </li>
                        <li class="profile-info__navlink"><a onclick="{% set currentTab = 'files' %}">Fichiers</a></li>
                    </ul>
                </nav>
                <div class="profile_more-info__content">
                    <h3>Contenu qui manque</h3>
{#                    {% if attribute(currentTab) is same as('skills') %}#}
{#                        <h3>Tab Compétences</h3>#}
{#                    {% endif %}#}
{#                    {% if currentTab is same as('experiences') %}#}
{#                        <h3>Tab Missions</h3>#}
{#                    {% endif %}#}
{#                    {% if currentTab is same as('files') %}#}
{#                        <h3>Tab Fichiers</h3>#}
{#                    {% endif %}#}
                </div>
            </div>
        </div>
    </section>
    <nav class="sidenav"></nav>

{% endblock %}
